body{
    margin: 0;
    padding: 0;
}
p,h1,h2,h3,h4{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.top-header{
    padding: 0px 100px;
    margin-bottom: 100px;
}
.common-flexible{
    display: flex;
}
.half-content{
    width: 50%;
}
.half-content img{
    width: 90%;
}
.half-content h1{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color:#575757;
    padding-top: 80px;

}
#title-style{
color: #0794F7;
}
.half-content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #8F8F8F;
    display: block;
    margin-bottom: 50px;
    line-height: 30px;
    width: 60%;
}
.button-design{
    background: linear-gradient(45deg,#A5D4EE,#0899F8);
    padding: 15px 20px;
    text-transform: capitalize;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
}


.about-us{
    background-image: url(img/about-bg.jpg);
    background-repeat: no-repeat;
}

.img-design-2{
    width: 220px!important;
    height: 400px;
    margin-left: 200px;
    
}
.half-content h2{
    font-size: 40px;
    color: rgb(151, 151, 151);
    margin-top: 60px;
}